<h3><%= @character.name %> the <%= @character.warrior %>    -    Level <%= @character.level %>  <%= link_to "Edit", edit_character_path(@character) %></h3><br>
<h3>Their Spells</h3>
<% @character.spells.each do |s| %>
    <h4><%= s.name %></h4><a> Spell Description:</a> <%= s.description %><br>
    <% end %><br>
<h3>Their story thus far:</h3><br>
<%= @character.backstory %>
