<h2>Spells Index</h2><br>
<p>Welcome <%= @user.name %> <img src="<%= @user.image %>"></p><br>  
<p>Below is a list of all your Spells.  If you would like to create a new spell please <%= link_to "Click Here!", '/spells/new' %></p><br>
<ul>
<% @user.spells.each do |s| %>
    <li><%= s.name %> <%= link_to "View", spell_path(s) %> <%= link_to "Edit", edit_spell_path(s) %> <%= button_to "Delete Spell", s, method: "delete" %></li><br>
    <% end %>
    </ul>